body{
    font-family: Papyrus;

}

.circle {
    border-radius: 1000%;
    width: 40px;
    height: 40px; 
    background: green;
}

.container {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.src{

    border-radius: 50px;
    padding: 10px;
    width: 384px;
    height: 384px;
    object-fit: cover;
    display: block;
    margin: auto;
    transform: translate(-300px);
    border-radius: 10px;
    border: 5px solid #000;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

}

.accent-box {
    transform: translate(-300px);
    width: 384px;
    height: 384px;
    background: #f4b400;
    border-radius: 10px;
    margin: auto;
    display: block;
    object-fit: cover;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.overlap-container {
    position: relative;
    width: 384px;
    height: 384px;
}

.text {
    flex: 1; 
    padding: 20px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    text-decoration: overline;
    text-align:center;
    flex-direction: column;
    line-height: 5.0;
    transform: translate(-100px);
    font-size: 10px;
    margin-top: 50px;

}

h1 {
    display: inline-block;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 300px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background: rgb(248, 248, 248);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
}

.icon-img {
    width: 45px; 
    height: 45px;
    object-fit: contain;
    border-radius: 50%;
}

.icon::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}

